.vscode
.idea
.DS_Store
build
**/*.pb.go
**/*.pb.gw.go
**/*.gen.go
intmax2-node
**/mock_*
vendor
.env
docs/swagger/block_builder
docs/swagger/store_vault
docs/swagger/withdrawal
internal/pb/gen
third_party/OpenAPI/block_builder_service/block_builder
third_party/OpenAPI/store_vault_service/store_vault
third_party/OpenAPI/withdrawal_service/withdrawal
