.vscode
.idea
.DS_Store
*.pb.go
*.pb.gw.go
*.gen.go
intmax2-node
mock_*
mocks/
vendor
.env*
!.env/example
cmd/examples/*
!cmd/examples/.gitkeep
build/sql_dbs/*
!build/sql_dbs/.gitkeep
build/temp_data/*
!build/temp_data/.gitkeep
build/env.docker.block-builder-service
build/env.docker.store-vault-server
build/env.docker.withdrawal-server
internal/pb/gen
third_party/OpenAPI/*
!third_party/OpenAPI/_default
!third_party/OpenAPI/block_builder_service/index.html
!third_party/OpenAPI/store_vault_service/index.html
!third_party/OpenAPI/withdrawal_service/index.html
!third_party/OpenAPI/block_validity_prover_service/index.html
